{% assign settings = site.data.settings %}

<!-- Trailing Hero Image -->
<section class="trailing-hero-image special contact-us-section hide-for-large-up"></section>

<section id="contact-us" class="hero contact-us-section">

	<article class="hero-body">
		<div class="row outer-row">
			<div class="large-5 columns">
				<div class="hero-body-text">
					<h1>the law, simply</h1>

					<img width="24" src="/img/template/marker@2x.png">
					<!-- <p>
						<a class="special-link" href="{{ settings.google_map }}">view map <i class="fa fa-angle-right"></i></a><br>
						{{ settings.address }}<br>
						p <a href="tel: {{ settings.phone_1 }}">{{ settings.phone_1 }}</a><br>
						p <a href="tel: {{ settings.phone_2 }}">{{ settings.phone_2 }}</a><br>
						skype {{ settings.skype }}
					</p> -->
					<p>
	                	<a class="special-link" href="{{ setings.google_map }}" target="_blank">view map <i class="fa fa-angle-right"></i></a><br>
	                </p>
	                <p>
		                {{ settings.address }}<br>
						p <a href="tel: {{ settings.phone_1 }}">{{ settings.phone_1 }}</a><br>
						p <a href="tel: {{ settings.phone_2 }}">{{ settings.phone_2 }}</a><br>
						skype {{ settings.skype }}
					</p>
					<p>
	                <span class="small">
	                    <a class="special-link" href="/media/1043/copyright-and-disclaimer.pdf" target="_blank">Copyright &amp; Disclaimer <i class="fa fa-angle-right"></i></a><br>
	                    <a class="special-link" href="/media/1044/legal-costs-fact-sheets.pdf" target="_blank">Legal Costs Fact Sheets <i class="fa fa-angle-right"></i></a>
	                </span>
	            	</p>
				</div>
			</div>
		</div>
	</article>

	<!-- FOOTER -->
	<footer class="footer">

		<!-- Footer Text -->
		<div class="footer-text">
			<div class="row outer-row">
				<div class="columns">
					<p class="footer-links">
						design <a href="http://www.shadiadesign.com.au" target="_blank"><strong>shadia design</strong></a> <br class="show-for-small-only"><span>development <a href="http://www.muchmedia.com.au" target="_blank"><strong>much media</strong><span></a>
					</p>
				</div>
			</div>
		</div>

		<!-- Social Networks -->
		<div class="social-networks">
			<div class="row outer-row">
				<div class="columns">
					<ul class="lv-inline-list close-gaps text-center medium-text-right">
						<li><a href="{{ settings.facebook }}"><img width="24" src="/img/template/facebook-icon@2x.png"></a></li>
						<li><a href="{{ settings.email }}"><img width="24" src="/img/template/linked-in-icon@2x.png"></a></li>
						<li><a href="{{ settings.facebook }}"><img width="24" src="/img/template/email-icon@2x.png"></a></li>
					</ul>
				</div>
			</div>
		</div>

	</footer>

</section> <!-- .hero -->