<section id="home" class="hero hero-leader contact-us-section">

	<article class="hero-body">
		<div class="row outer-row">
			<div class="large-4 columns">
				<div class="hero-body-text">
					<h1>the law, simply</h1>

					<br><br><br><br><br><br><br><br><br><br><br><br>

					<p>
						Lorem ipsum dolor sit amet, consectetur<br>
						Lorem ipsum dolor sit amet, consectetur<br>
						Lorem ipsum dolor sit amet, consectetur<br>
						Lorem ipsum dolor sit amet, consectetur<br>
						Lorem ipsum dolor sit amet, consectetur<br>
						Lorem ipsum dolor sit amet, consectetur<br>
					</p>
				</div>
			</div>
		</div>
	</article>

	<!-- Footer Text -->
	<div class="footer-text show-for-medium-up">
		<div class="row outer-row">
			<div class="columns">
				<p><small><strong>&copy; Baggio</strong>legal Dequetteville Chambers 1 Dequetteville Terrace Kent Town SA 5067 p +61 8 8132 5000</small></p>
			</div>
		</div>
	</div>

	<!-- Social Networks -->
	<div class="social-networks">
		<div class="row outer-row">
			<div class="columns">
				<ul class="lv-inline-list close-gaps text-center medium-text-right">
					<li><a href="{{ settings.facebook }}"><i class="fa fa-facebook"></i></a></li>
					<li><a href="{{ settings.email }}"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="{{ settings.facebook }}"><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
		</div>
	</div>

</section> <!-- .hero -->

<!-- Trailing Hero Image -->
<section class="trailing-hero-image contact-us-section hide-for-large-up"></section>