/*
    HEADER.CSS

    - Last updated: 31.05.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.global-header {
	@include transition('all');
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: rem-calc(10);
	z-index: 1;
	background: none; // stupid foundation
	// background: aqua;

	@media #{$large-up} {
	    padding-top: rem-calc(20);
	}

	> .row {
		@include transition('all');
	}

	&.is-sticky {
		display: table;
		padding: 0;
		padding: rem-calc(15 0 5 0);

	    @media #{$small-only} {
	        padding: rem-calc(5); // smaller on mobile
	    }
	}
}

//-----------------------------------------------------------------
// has-logo State
//-----------------------------------------------------------------

.global-header .logo {
	@media #{$medium-up} {
	    position: fixed;
	    background: rgba(white, 0.8);
	    padding: 10px 15px;
	    margin-left: -15px;
	    border-radius: $global-radius;
	}

	@media #{$small-only} {
	    visibility: hidden; // we still want the height
	}

	img {
		@media #{$small-only} {
			width: 100px;
		}

		@media #{$medium-up} {
		    // width: 216px;
		    width: 196px;
		}
	}
}

//-----------------------------------------------------------------
// Hamburger Wrapper
//-----------------------------------------------------------------

.header-mobile-menu {
	position: absolute;
	top: 15px;
	right: 15px;
	background: white;

	@media #{$medium-up} {
		position: fixed;
	    right: 40px;
	    top: 30px;
	}
}

.global-header .hamburger {
	@include hamburger($width: 25px, $gap: 5px, $thickness: 3px, $color: #222);

	@media #{$medium-up} {
	    @include hamburger($width: 30px, $gap: 6px, $thickness: 4px, $color: #222);
	}
}

//-----------------------------------------------------------------
// has-logo State (fixed)
//-----------------------------------------------------------------

.global-header {
	@media #{$small-only} {
	    position: fixed;
	    padding: 0; // necessary to override above
	    // background: white; // obscures logos anim
	}

	&.has-border {
		@media #{$small-only} {
		    border-bottom: 1px solid #E6E6E6;
		    background: white;
		}
	}

	.logo {
		@media #{$small-only} {
		    visibility: visible;
		    display: inline-block !important; // is JS overriding this??
		    padding: rem-calc(10 0);
		}
	}
}

//=========================================
//
//=========================================