/*
    TYPE.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Type
//-----------------------------------------------------------------

h3, h4, h5, h6 {
	color: $primary-color;
	font-family: $font-family-serif;
}

h2 {
	padding-bottom: rem-calc(30);
}

// refactor
p.lead {
	font-size: $paragraph-font-size;

	@media #{$medium-up} {
	    font-size: rem-calc(30);
	}
}

p, ul {
	font-size: rem-calc(16);

	@media #{$large-up} {
		font-size: rem-calc(16);
	}

	@media #{$xxlarge-up} {
		font-size: $paragraph-font-size;
	}
}

// .hero ul {
// 	list-style: none;

// 	li:before {
// 		content: "-";
// 		display: inline-block;
// 		position: relative;
// 		left: -15px;
// 		// float: left;
// 	}
// }

a {
	text-decoration: underline;
}

//=========================================
// Contexts
//=========================================

.contact-section h2 {
	font-size: rem-calc(48);
	color: $primary-color;
	margin-top: 0;
}